//my-colors---

$bg: #f5f5f5;

$red: #d32f2f;

$yellow: #fdba2d;

$black1: #222222;

$black2: #444444;

$text1: #555555;

$text2: #666666;

$text3: #969696;

$border1: #eeeeee;

$border2: #e5e5e5;

$border3: #dddddd;

$footer: #1b1b1b;

$ftext: #8D8E92;
